<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yz_mentalhealth.mapper.user.UserMapper">
    <resultMap id="UserResult" type="com.yz_mentalhealth.entity.user.User">
        <association property="department" column="department" select="selectDepartment" javaType="com.yz_mentalhealth.entity.department.Department" />
    </resultMap>

    <select id="selectDepartment" parameterType="String" resultType="com.yz_mentalhealth.entity.department.Department">
        select * from department_info where id = #{id}
    </select>

    <insert id="addUser" parameterMap="UserResult">
        insert into user_info(id,usercode,username,password,sex,email,department_id,birthday,cry,crsj,xgr,xgsj)
        values (
          #{id},#{usercode},#{username},#{password},#{sex},#{email},#{department.id},#{cry},now(),#{xgr},now()
          )
    </insert>

    <update id="updateUser" parameterMap="UserResult">
        update user_info
          set
            usercode=#{usercode},
            username=#{username},
            password=#{password},
            sex=#{sex},
            email=#{email},
            department_id=#{department.id},
            xgr=#{xgr},
            xgsj=now()
          where id = #{id}

    </update>

    <select id="getUserList" parameterMap="UserResult" resultMap="UserResult">
        select * from user_info
    </select>

    <select id="getUser" parameterMap="UserResult" resultMap="UserResult">
        select * from user_info where id = {id}
    </select>

    <delete id="deleteUser" parameterMap="UserResult">
        delete from user_info where id = #{id}
    </delete>
</mapper>