<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!-- 模态框 -->
<div class="modal fade" id="userAddModal" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">用户基本信息</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div style="padding: 0 20px">
                    <form th:action="@{/user}"  method="post">
                        <!--发送put请求修改员工数据-->
                        <!--
                        1、SpringMVC中配置HiddenHttpMethodFilter;（SpringBoot自动配置好的）
                        2、页面创建一个post表单
                        3、创建一个input项，name="_method";值就是我们指定的请求方式
                        -->
                        <input type="hidden" name="_method" value="put" th:if="${user!=null}" >
                        <input type="hidden" name="id" th:if="${user!=null}" th:value="${user.id}" >
                        <div class="form-group">
                            <label>姓名</label>
                            <input name="username" type="text" class="form-control1" th:value="${user!=null}?${user.username}" placeholder="小桂桂" >
                        </div>
                        <div class="form-group">
                            <label>邮箱</label>
                            <input name="email" type="email" class="form-control1" th:value="${user!=null}?${user.email}" placeholder="yangtiezhu@zmg.com" >
                        </div>
                        <div class="form-group">
                            <label>性别</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sex" value="1" th:checked="${user!=null}?${user.sex}==1" >
                                <label class="form-check-label">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="sex" value="0" th:checked="${user!=null}?${user.sex}==0">
                                <label class="form-check-label">女</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>部门</label>
                            <!--提交的是部门的id-->
                            <select class="form-control1" name="department.id">
                                <option th:value="${depart.id}" th:selected="${user!=null}?${depart.id == user.department.id}" th:each="depart:${departList}" th:text="${depart.departmentName}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>生日</label>
                            <input name="birthday" type="text" class="form-control1" placeholder="1994-09-08" th:value="${user!=null}?${#dates.format(user.birthday,'yyyy-MM-dd')}" >
                        </div>
                    </form>
                </div>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">保存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>